:root{
    --azul:#1b396a;
    --inputfondo: #fffff0;
}

body{
    margin:0;
}
header{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 120px;
}
header button{
    background: var(--azul);
    color: white;
    font-size: 17px;
    padding: 10px 50px;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: #1b396a 2px 2px 5px;
}
header div{
    display: flex;
    align-items: center;
}
.engranaje{
    height: 70px;
    margin-right: 20px;
}
section{
    background: var(--azul);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    position: relative;
}
.login{
    background: white;
    width: 25%;
    height: 45%;
    padding: 40px;
    z-index: 2;
}
h2{
    text-align: center;
    margin: 0%;
    font-weight: 400;
    margin: 0%;
}
h1{
    text-align: center;
    margin: 0%;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 30px;
}
section button{
    display: flex;
    padding: 8px 20px;
    margin: auto;
    background: var(--azul);
    color: white;
    font-size: 15px;
}
label{
    font-size: 20px;
}
.login input{
    width: 100%;
    font-size: 17px;
}
.logofondo{
    position: absolute;
    z-index: 1;
    opacity: 30%;
    height: 100%;
    left: 0;
}

section img{
    height: 100%;
    width: auto;
    display: block;
}

input:required:invalid {
  background: var(--inputfondo);
}